.header {
  display: flex;
  justify-content: space-between;
  height: 92px;
  align-items: center;
  margin-bottom: 40px;
}
.header .header-primary {
  display: flex;
  align-items: center;
}
.header .header-primary__logo img {
  width: 241px;
  height: 70px;
  margin-right: 15px;
}
@media screen and (max-width: 1280px) {
  .header .header-primary__logo img {
    width: 187px;
  }
}
@media screen and (max-width: 360px) {
  .header .header-primary__logo img {
    width: 140px;
  }
}
.header .header-primary__info {
  width: 204px;
  height: 80px;
  border-left: 1px solid rgba(51, 26, 47, 0.5019607843);
  padding: 12px 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 26, 47, 0.8980392157);
}
@media screen and (max-width: 1280px) {
  .header .header-primary__info {
    width: 150px;
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header .header-primary__info {
    display: none;
  }
}
.header .header-primary__nav {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.header .header-primary__nav-select {
  margin-right: 60px;
}
.header .header-primary__nav-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding-right: 20px;
  background-image: url("../../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px;
  font-size: 24px;
}
@media screen and (max-width: 1280px) {
  .header .header-primary__nav-select select {
    font-size: 18px;
    background-position: right 10px;
  }
}
.header .header-primary__nav-phone,
.header .header-primary__nav a {
  font-family: Lato;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  color: #331a2f;
}
@media screen and (max-width: 1280px) {
  .header .header-primary__nav-phone,
.header .header-primary__nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .header .header-primary__nav {
    display: none;
  }
}
.header .header-secondary {
  display: flex;
  align-items: center;
}
.header .header-secondary__contacts {
  display: flex;
  align-items: center;
  margin-right: 91px;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.header .header-secondary__contacts a {
  margin-left: 7px;
  color: #331a2f;
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  .header .header-secondary__contacts a {
    font-size: 18px;
  }
}
.header .header-secondary__contacts-img {
  width: 19px;
}
.header .header-secondary__login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 45px;
  border-radius: 12px;
  background-color: #cf51ce;
  border: none;
  cursor: pointer;
}
.header .header-secondary__login button svg {
  margin-top: 7px;
  width: 23px;
  height: 23px;
}
.header .header-secondary__login button span {
  font-size: 23px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: white;
  margin-left: 14px;
}
@media screen and (max-width: 1280px) {
  .header .header-secondary__login button {
    width: 152px;
    height: 43px;
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .header .header-secondary__login button {
    width: 103px;
    height: 36px;
    border-radius: 6px;
  }
  .header .header-secondary__login button span {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
  .header .header-secondary__login button svg {
    width: 13px;
    height: 13px;
  }
}
.header .header-secondary__login :hover {
  background-color: #cf95cf;
}
@media screen and (max-width: 768px) {
  .header .header-secondary__contacts {
    display: none;
  }
}
.header .header-secondary__burger {
  cursor: pointer;
  width: 42px;
  height: 28px;
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-secondary__burger {
    display: block;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    height: 62px;
  }
}
@media screen and (max-width: 360px) {
  .header {
    height: 36px;
    width: 100%;
  }
}

/*# sourceMappingURL=header.css.map */
