.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 147px;
    position: relative;
    span {
        font-family: Lato;
        color: #cf51ce;
    }
    .description-main {
        &__title {
            font-size: 56px;
            margin-bottom: 26px;
            width: 880px;
        }
        &__price {
            font-size: 20px;
            .price-count {
                color: #cf51ce;
                font-size: 38px;
                line-height: 29px;
                font-weight: 700;
                margin-left: 10px;
            }
            .price-rub {
                font-size: 25px;
                line-height: 25px;
                color: rgba(51, 26, 47, 0.8);
                font-weight: 500;
                margin-left: 10px;
            }
            svg {
                margin-right: 25px;
            }
            width: 256px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }
        @media screen and (max-width: 1280px) {
            &__title {
                width: 688px;
                font-size: 46px;
            }
        }
        @media screen and (max-width: 360px) {
            &__title {
                width: 202px;
                font-size: 26px;
                line-height: 150%;
            }
        }
    }
    .description-main__text {
        width: 862px;
        font-size: 25px;
        color: #331a2fcc;
        :nth-child(1n) {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 1280px) {
            width: 711px;
            font-size: 20px;
            &-primary {
                display: none;
            }
        }
        @media screen and (min-width: 1280px) {
            &-secondary {
                display: none;
            }
        }
        @media screen and (max-width: 768px) {
            width: 482px;
        }
        @media screen and (max-width: 360px) {
            font-size: 18px;
            line-height: 160%;
            width: 330px;
        }
    }
    .description-img {
        width: 620px;
        img {
            width: 560px;
        }
        background: url("../../img/Bgstars.webp") bottom no-repeat;
        @media screen and (max-width: 1280px) {
            width: 450px;

            &__title {
                font-size: 20px;
            }
            background-size: 100%;
            background-position: 0 60px;
        }
        @media screen and (max-width: 768px) {
            background: none;
            position: absolute;
            right: -180px;
            top: 160px;
            width: 410px;
            overflow: hidden;
        }
        @media screen and (max-width: 360px) {
            width: 245px;
            top: -40px;
            right: -120px;
        }
    }
}
