.education {
    text-align: center;
    margin: 0 auto;
    .education-title {
        font-size: 48px;
        line-height: 64px;
        font-weight: 700;
        width: 800px;
        margin: 0 auto;
        margin-bottom: 23px;
        @media screen and (max-width: 1280px) {
            font-size: 40px;
        }
        @media screen and (max-width: 768px) {
            width: calc(100% - 60px);
        }
        @media screen and (max-width: 360px) {
            min-width: 290px;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
        }
        @media screen and (min-width: 360px) {
            br {
                display: none;
            }
        }

        p {
            position: relative;
            display: inline;
            ::before {
                content: "";
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                height: 6px;
                border-radius: 6px;
                background: linear-gradient(264.91deg, #7c4eab 0.73%, #dd51d4 95.85%);
            }
        }
    }
    .education-subtitle {
        width: 846px;
        font-size: 48px;
        line-height: 64px;
        font-weight: 500;
        font-size: 25px;
        line-height: 40px;
        color: #331a2fcc;
        margin: 0 auto;
        margin-bottom: 85px;
        @media screen and (max-width: 1280px) {
            font-size: 20px;
        }
        @media screen and (max-width: 768px) {
            width: 684px;
        }
        @media screen and (max-width: 360px) {
            width: calc(100% - 30px);
            min-width: 330px;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
        }
    }
    .education-advantages {
        display: flex;
        margin: 0 auto;
        margin-bottom: 140px;

        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            width: 600px;
            gap: 60px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            gap: 40px;
            justify-content: center;
        }
        &__item {
            text-align: left;
            width: 290px;

            @media screen and (max-width: 1280px) {
                width: 225px;
                &-title {
                    font-size: 20px;
                    line-height: 25.6px;
                }
                &-subtitle {
                    font-size: 16px;
                }
            }
            @media screen and (max-width: 768px) {
                min-width: 255px;
            }
            @media screen and (max-width: 360px) {
                text-align: center;
                &-img {
                    margin: 0 auto;
                }
            }
            &-img {
                width: 70px;
                height: 70px;
                background: #cf51ce;
                box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                svg {
                    width: 48px;
                    height: 48px;
                }
            }
            &-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: #331a2f;
                margin-bottom: 15px;
            }
            &-subtitle {
                font-size: 18px;
                line-height: 160%;
                color: rgba(51, 26, 47, 0.8);
            }
        }
    }
}
